.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(36, 36, 36, 1);
  color: white;
  width: 100vw;
  height:fit-content;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: fit-content;
  gap:10px;
  padding:10px;
  margin-top:10px;
  background-color: aliceblue;
}
.Contact h2 {
  text-decoration: underline;
}
.logo {
  width: 50px;
  height: auto;
}
.allrightreserved{
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin-bottom:10px;
}