.flex-wrapper {
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    height:fit-content;
}

.nav-bar {
    display:flex;
    flex-direction:row;
    width:fit-content;
    height:100px;
}

.nav-item {
padding:5px;
width:75px;
height:75px;
background-color: aliceblue;
}
.nav-item:hover {
    background-color: gray;
}