html,body {
    margin:0;
    padding:0;
    font-size: 16px;
    font-family: Arial, sans-serif;
    background-color:rgb(20, 20, 20);
  }

.site {
min-height:100dvh;
display:grid;
grid-template-rows:auto 1fr auto;
grid-template-columns:minmax(0,1fr);
}