.portfolio-flex-container {
    display:flex;
    height:fit-content;
    flex-direction:column;
    align-items:center;
    width:90%;
    margin:0 auto;
    background-color:white;
    margin-top:200px;
    gap:20px;
    box-shadow: inset 0 0 20px rgb(0, 0, 0);
    border-radius:10px;
}

.portfolio-filter-box {
    display:flex;
    position:relative;
    flex-direction:column;
    margin-top:100px;
    margin-bottom:100px;
    width:fit-content;
    height:fit-content;
    padding:20px;
    border:1px solid black;
    box-shadow: inset 0 0 20px rgba(99, 99, 99, 0.65);
    background-color:whitesmoke;
}

.portfolio-filter-box-image {
    display:flex;
    position:absolute;
    left:-30px;
    top:-20px;
    width:50px;
    height:50px;
}

.portfolio-setfilter-button {
    position:absolute;
    left:50px;
    bottom:-10px;
    font-size:16px;
}
.portfolio-clearfilter-button {
    position:absolute;
    right:50px;
    bottom:-10px;
    font-size:16px;
}
.portfolio-filter-box form {
    display:flex;
    flex-direction:column;
    gap:10px;
    align-items:center;
}

.portfolio-name-filter-input {
    width:250px;
    height:30px;
    text-align:center;
    font-size:16px;
}
.portfolio-project-list-box {

}

.portfolio-project-preview-box {

}