.resume-flex-container {
    display:flex;
    height:fit-content;
    flex-direction:column;
    align-items:center;
    width:90%;
    margin:0 auto;
    background-color:white;
    margin-top:200px;
    gap:20px;
    box-shadow: inset 0 0 20px rgb(0, 0, 0);
    border-radius:10px;
}

.profile-picture-frame {
display:flex;
position:absolute;
margin-left:-1000px;
margin-top:100px;
flex-direction:column;
align-items:center;
justify-content:center;
background-color: rgb(218, 218, 218);
border:2px solid black;
width:256px;
height:256px;
}

.profile-picture-container {
width:100px;
height:100px;
}

.resume-info-container {
    display:flex;
    flex-direction:row;
}

.resume-info-box {
    display:flex;
    align-items:center;
    justify-content:center;
    width:fit-content;
    height:100px;
    padding-left:20px;
    padding-right:20px;
    font-family: "Trebuchet MS", "Tahoma", sans-serif;
    font-size:22px;
    box-shadow: inset 0 0 20px rgba(99, 99, 99, 0.65);  
}

.resume-info-box-header {
    display:flex;
    align-items:center;
    text-decoration:underline;
    justify-content:center;
    width:fit-content;
    padding-left:20px;
    padding-right:20px;
    height:75px;
    font-family: "Trebuchet MS", "Tahoma", sans-serif;
    font-size:22px; 
}

.resume-info-box-header-1 {
    margin-top:100px;
}
