
.portfolio-filter-box {
    display:flex;
    position:relative;
    flex-direction:column;
    width:fit-content;
    height:fit-content;
    padding:20px;
    border:1px solid black;
    box-shadow: inset 0 0 20px rgba(99, 99, 99, 0.65);
    background-color:whitesmoke;
    grid-column: 1;
    grid-row:1;
}

.portfolio-filter-box-image {
    display:flex;
    position:absolute;
    left:-30px;
    top:-20px;
    width:50px;
    height:50px;
}

.portfolio-setfilter-button {
    position:absolute;
    left:50px;
    bottom:-10px;
    font-size:16px;
}
.portfolio-clearfilter-button {
    position:absolute;
    right:50px;
    bottom:-10px;
    font-size:16px;
}
.portfolio-filter-box form {
    display:flex;
    flex-direction:column;
    gap:10px;
    align-items:center;
}

.portfolio-name-filter-input {
    width:250px;
    height:30px;
    text-align:center;
    font-size:16px;
}