.portfolio-list-box {
    display:flex;
    flex-direction:column;
    width:fit-content;
    padding:20px;
    border:1px solid black;
    box-shadow: inset 0 0 20px rgba(99, 99, 99, 0.65);
    background-color:whitesmoke;
    grid-column:1;
    grid-row:2;
}

.portfolio-list-content {
    display:flex;
    border:1px solid black;
    flex-direction:row;
    align-items:center;
    width:600px;
    height:350px;
    flex-wrap:wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    gap:10px;
}

.portfolio-list-item {
    display:flex;
    align-items:center;
    width:500px;
    margin:20px;
    height:100px;
    border:1px solid black;
}