.portfolio-flex-container {
    display:flex;
    height:fit-content;
    flex-direction:column;
    align-items:center;
    width:90%;
    margin:0 auto;
    background-color:white;
    margin-top:200px;
    gap:20px;
    box-shadow: inset 0 0 20px rgb(0, 0, 0);
    border-radius:10px;
}

.portfolio-grid-container {
  display: grid;
  justify-items:center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:1fr 1fr;
  margin:100px;
  width:100%;
}   